<!-- templates/forgot_password.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link href="{{ url_for('static', filename='CSS/bootstrap.min.css') }}" rel="stylesheet">
</head>
<body>

    <div class="container mt-5">
        <h2>Forgot Password</h2>
        <form method="POST" action="{{ url_for('forgot_password') }}">
            <div class="form-group">
                <label for="email">Email address </label>
                <input type="email" class="form-control" id="email" name="email" 
                placeholder="Enter your Email, We will send you reset code to your email" required>
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-primary btn-lg"><i class="bi bi-box-arrow-in-right"></i> Request reset </button>
            </div>
    
        </form>
    </div>

    <script src="{{ url_for('static', filename='JS/bootstrap.bundle.min.js') }}"></script>
</body>
</html>
